* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.crash-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(21, 112, 82);
}

.snare-pad {
  background: rgb(112, 221, 22);
}

.crash-pad {
  background: rgb(238, 216, 23);
}

.hihat-pad {
  background: rgb(128, 27, 89);
}

.kick-pad.active {
  background: rgb(23, 209, 147);
}

.snare-pad.active {
  background: rgb(173, 247, 112);
}

.crash-pad.active {
  background: rgb(255, 230, 0);
}

.hihat-pad.active {
  background: rgb(255, 0, 157);
}

.kick-track,
.snare-track,
.crash-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.crash,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;

  button {
    padding: 1rem;
    border: none;
    background-color: rgb(62, 172, 62);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  background: grey;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.mute.active {
  background: rgb(184, 182, 182);
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
