* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

i,
svg {
  pointer-events: none;
}

.beatmaker__background {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(https://i.postimg.cc/y60T9FD8/pexels-anton-h-145707.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header {
  color: #cdf0ea;
  text-align: center;
  font-size: 30px;
  margin: 15px 0;

  h1 {
    font-weight: 200;
    letter-spacing: 25px;
    text-transform: uppercase;

    span {
      font-weight: bolder;
    }
  }
}

.beatmaker__menu {
  height: 60px;
  max-width: 800px;
  background: #c9d8b6;
  opacity: 0.5;
  margin: 10px auto;

  .buttons {
    height: 60px;
    background: #c9d8b6;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .play,
    .clear {
      height: 100%;
      padding: 1rem 2rem;
      background: #f1ecc3;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;

      i {
        font-size: 25px;
        color: #515e63;
      }
    }

    .tempo {
      margin: 1rem;
      width: 30%;
      display: flex;

      .tempo-slider {
        padding: 0.1rem;
        -webkit-appearance: none;
        margin: 1rem 0rem;
        width: 90%;
        position: relative;
        background: #a5a5a5;
        cursor: pointer;
        border-radius: 1rem;
      }

      p {
        font-size: 1rem;
        margin: 0.5rem;
        text-align: center;
      }
    }
  }
}

.seqwencer {
  background: rgba(81, 94, 99, 0.5);
  max-width: 800px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 0;
}

.kick-pad,
.snare-pad,
.crash-pad,
.hihat-pad,
.tom-pad,
.shaker-pad {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0.5rem 0.4rem;
  cursor: pointer;
}

.kick-pad {
  background: #ee9ca7;
}

.snare-pad {
  background: #de6262;
}

.crash-pad {
  background: #4e4376;
}

.hihat-pad {
  background: #00cdac;
}

.tom-pad {
  background: #b06ab3;
}

.shaker-pad {
  background: #2747ad;
}

.kick-pad.active {
  background: #ffdde1;
}

.snare-pad.active {
  background: #ffb88c;
}

.crash-pad.active {
  background: #8f7dcf;
}

.hihat-pad.active {
  background: #87f8e5;
}

.tom-pad.active {
  background: #ecadee;
}

.tom-pad.active {
  background: #fb79ff;
}

.shaker-pad.active {
  background: #7d9bff;
}

.kick-track,
.snare-track,
.crash-track,
.hihat-track,
.tom-track,
.shaker-track {
  display: flex;
  align-items: center;
  //width: 80%;
  justify-content: space-between;
  //margin-top: 5rem;
}

.kick,
.snare,
.crash,
.hihat,
.tom,
.shaker {
  display: flex;
  margin-right: 15px;
}

.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

  h1 {
    width: 50px;
    font-size: 12px;
    color: #ffff;
    margin: 0 12px;
    letter-spacing: 2px;
  }

  button {
    padding: 0.5rem;
    border: none;
    background-color: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}

.pad {
  transition: all 0.5s ease;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  min-width: 180px;
}

.mute.active {
  background: rgb(184, 182, 182);
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
